@import './fonts.css';

body {
  background-color: lightblue;
  text-align: center;
  /* font-family: 'Play', sans-serif; */
  font-family: 'Architects Daughter', cursive;

}
.App h1 {
  font-size: 8em;
  margin-bottom: .25em;
}

.App p {
  font-family: 'Corinthia', cursive;
  font-size: 3em;
}

.App img {
  width: 4em;
}