@import './fonts.css';

body {
  background-color: lightblue;
  text-align: center;
  font-family: 'Play', sans-serif;

}
.App h1 {
  font-size: 8em;
  margin-bottom: .25em;
}

.App p {
  font-style: italic;
}

.App img {
  width: 4em;
}